

._background-color-gray {
    background-color: #34393d;
}

._background-color-l-black {
    background-color: #1a2025;
}

._color-white {
    color: #ffffff;
}

._color-gray {
    color: #444444;
}

._color-dark-gray {
    color: #3f4043;
}

._text-uppercase {
    text-transform: uppercase;
}

._text-decoration-none {
    text-decoration: none;
}

._font-weight-bold {
    font-weight: 700;
}

._font-family-Montserrat {
    font-family: 'Montserrat', sans-serif;
}

._font-family-Lato {
    font-family: 'Lato', sans-serif;
}