@media screen and (max-width: 320px) {

    .container {}

    .header-menu-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .header-text-tip {
        padding: 9px 0 12px 18px;
        font-size: 12px;
    }

    .burger-menu-btn {}

    .btn-element-wrapper {
        padding: 9px 12px 12px 13px;
    }

    .btn-element {
        width: 16px;
        height: 2px;
        background-color: #ffffff;
        margin: 2px 0;
        transition: all 0.05s linear;
    }

    .header-menu {
        display: none;
        /* display: flex; */
        flex-flow: column;
        position: absolute;
        width: 181px;
        padding-bottom: 2px;
        border: 1px solid #e2e2e2;
        background-color: #fafafa;
        z-index: 2;
        right: 0;
        top: 36px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
    }

    .header-menu-element {
        padding: 11px 0 6px 13px;
        border-bottom: 2px solid #e9e9e9;
        font-size: 12px;
    }

    .header-menu-element:hover {
        background-color: #f5f5f5;
    }

    .header-logo-img {
        display: none;
    }

    /* ----------------------------- */
    .menu-list {}

    .head-list-element {
        display: flex;
    }

    .head-list-elemet-href {
        /* display: block; */
        max-height: 175px;
        position: relative;
    }

    .head-list-element-title {
        position: absolute;
        padding-left: 20px;
        margin-top: 12px;
        line-height: 23px;
    }

    .e-mail {
        margin-top: 2px;
        font-style: normal;
        font-size: 14px;
        color: #a6d6e0;
    }

    .head-menu-list-img {
        width: 100%;
    }

    /* ------------------- */

    .list-element-wraper {
        display: flex;
        flex-flow: column;
    }

    .list-element:nth-child(1)>.list-element-img>.list-element-title {
        left: 1px;
        bottom: 2px;
    }

    .list-element:nth-child(2)>.list-element-img>.list-element-title {
        left: 12px;
    }

    .list-element:nth-child(3)>.list-element-img>.list-element-title {
        right: 2px;
    }

    .list-element {
        display: flex;
        position: relative;
        margin-top: 2px;
    }


    .list-element-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 78%;
        height: 74px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .list-element-title {
        position: relative;
        font-size: 20px;
    }

    .list-element-img-1 {
        background-image: url(../../img/header-pizza-2.jpg);
    }

    .list-element-img-2 {
        background-image: url(../../img/header-pizza-3.jpg);
    }

    .list-element-img-3 {
        background-image: url(../../img/header-pizza-4.jpg);
    }

    .list-element-href {
        width: 22%;
        height: 74px;
        background-image: url(../../img/arrow-href.jpg);
    }

    /* ------------------ */

    .menu-description {
        display: flex;
        justify-content: center;
        flex-flow: column;
        margin-top: 23px;
    }

    .menu-description-title-block {
        display: flex;
        justify-content: center;
    }

    .menu-description-title {
        margin: 0 auto;
        font-size: 20px;
    }

    .menu-description-title-subtitle {
        margin: 3px 0 0 1px;
        text-transform: initial;
        font-size: 10px;
        color: #cbcdce;
    }

    .menu-description-title-logo {
        display: none;
    }

    /* ---------------------------- */

    .menu-description-main {
        display: flex;
        justify-content: center;
        flex-flow: column;
        margin-top: 10px;
    }

    .menu-description-main-title {
        padding: 9px 0 9px 18px;
        font-size: 20px;
    }

    .main-title-color-1 {
        background-color: #3d3e41;
        color: #acd9ad;
    }

    .main-title-color-2 {
        background-color: #add9ae;
        color: #ffffff;
    }

    .menu-description-main-list {
        padding: 17px 17px 0 18px;
        /* display: flex; */
        /* justify-content: center; */
    }

    .menu-description-main-list-title {
        display: flex;
        justify-content: space-between;
        position: relative;
        font-size: 15px;
    }

    .menu-description-main-list-title::after {
        content: '';
        position: relative;
        bottom: 6px;
    }
    
    .main-list-title-pseudo-wrap-1::after {
        content: '';
        width: 25px;
        height: 25px;
        background-image: url(../../img/png-1.png);
    }

    .main-list-title-pseudo-wrap-2::after {
        content: '';
        width: 13px;
        height: 24px;
        background-image: url(../../img/png-2.png);
    }
    
    .main-list-title-pseudo-wrap-3::after {
        content: '';
        width: 30px;
        height: 21px;
        background-image: url(../../img/png-3.png);
    }
    
    .main-list-title-pseudo-wrap-4::after {
        content: '';
        width: 21px;
        height: 20px;
        background-image: url(../../img/png-4.png);
    }

    .menu-description-main-list-element {
        padding-top: 11px;
    }

    .main-list-element-wraper {
        display: flex;
        justify-content: space-between;
    }

    .main-list-element-name {
        font-size: 13px;
    }

    .main-list-element-price {
        font-size: 13px;
        font-weight: 700;
    }

    .main-list-element-description {
        margin-top: 7px;
        font-size: 9px;
    }

    /* ------------------------ */
    .menu-description-part-2 {
        margin-top: 29px;
    }
/* -------------------------- */
    .footer-block {
        padding: 13px 0 11px 0; 
        margin-top: 48px;
        background-color: #add9ae;
    }

    .footer-slogan {
        display: flex;
        justify-content: center;
        flex-flow: column;
        font-size: 12px;
    }

    .footer-slogan-text {
        margin: 3px auto;
    }
}

